.gps-button {
    display: block;
    padding: 5px;          
    background-color: rgba(253, 251, 251, 0.281); 
    border-radius: 4px;     
    box-shadow: 0 1px 5px rgba(0,0,0,0.4); 
    cursor: pointer;
    line-height: 0;
  }
  
  .gps-button img {
     display: block;
     width: 30px;          
     height: 30px;
     margin: auto;
  }
  
  .gps-button:hover {
    background-color: #20df594f;
  }
  
  .gps-button:active {
    background-color: #2093df4f;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }