.gps-button {
    display: block;
    padding: 5px;          /* Adjust padding as needed */
    background-color: rgba(253, 251, 251, 0.281); /* Ensure it has a background */
    border-radius: 4px;     /* Round the corners */
    box-shadow: 0 1px 5px rgba(0,0,0,0.4); /* Add shadow directly */
    cursor: pointer;
    line-height: 0;
  }
  
  .gps-button img {
     display: block;
     width: 30px;          /* Control icon size */
     height: 30px;
     margin: auto;
  }
  
  .gps-button:hover {
    background-color: #20df594f;
  }
  
  .gps-button:active {
    background-color: #2093df4f;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }