@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7); 
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
    }
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
  }
  
  .pulsating-dot {
    background-color: rgba(0, 123, 255, 1); 
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
  
  .leaflet-div-icon {
    background: none;
    border: none;
  }